<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DataBase" value="Data Source=C:\\Users\\MSI\\Desktop\\Informatica\\Anul II\\MPP\\C#\\Proiect_MPP_GUI_Client_Server\\concurs_inot2.db;Version=3;"/>
  </appSettings>
</configuration>