# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Proiect_MPP_GUI2.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\MSI\Desktop\Informatica\Anul II\MPP\C#\Proiect_MPP_GUI2\.idea\.idea.Proiect_MPP_GUI2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
